{% extends "indexAdmin.html" %}
{% block content %}
<section>
<div class="container">
    <h2>Tabla de Información de Productos</h2>
    <div class="table-responsive">
    <table class="table table-hover table-bordered border-dark  "  >
        <thead class="table-light border-dark">
            <tr>
                <th>Producto</th>
                <th>color</th>
                <th>precio</th>
                <th>largo</th>
                <th>ancho</th>
                <th>cantidad en Stock</th>
                <th>imagen</th>
                <th>descuento</th>
                <th>tipoMaterial</th>
                <th>Categoría</th>
                <th>Eliminar</th>
                <th>Modificar</th>


            </tr>
        </thead>
    <tbody>

        {% for producto in productos %}
        <tr>
                <input type="text" hidden name="_id" value="{{producto._id}}">
                <td>{{producto.nombre}}</td>
                <td>{{producto.color}}</td>
                <td>{{producto.precio}}</td>
                <td>{{producto.largo}}</td>
                <td>{{producto.ancho}}</td>
                <td>{{producto.cantidadStock | int }}</td>
                <td class="center"><img src="{{producto.imagen}}" alt="imagenDelProducto" class="h-50 w-50 "></td>
                <td>
                    {% if producto.descuento %}
                       {{ producto.descuento | int}}
                    {% else %}
                        Sin descuento
                    {% endif %}
                </td>
                <td>{{producto.tipoMaterial}}</td>
                <td>{{producto.categoria}}</td>
                <td><a class="text-light" href="/formEditarProd?_id={{producto._id}}">Editar</a></td>
                <td><button class="btn-block btn-light" ><a class="text-dark" href="/eliminarProducto?_id={{producto._id}}" class="text-decoration-none"> Eliminar </a> </button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
</section>
{% endblock content %}